/*http://dallasbass.com/simple-grid-a-lightweight-responsive-css-grid/*/
*,:after, :before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
body {margin:0;background:#eee; font:normal 15px 'PT Sans Narrow', Arial, sans-serif;}
[class*=col-]{float:left;padding-right:20px}
[class*=col-]:last-of-type{padding-right:0}
.grid{width:100%;max-width:1140px;min-width:755px;overflow:hidden;margin:0 auto}
.grid:after{content:"";display:table;clear:both}
.grid-pad{padding:10px 0 0 20px}
.grid-pad > [class*=col-]:last-of-type{padding-right:20px}
.col-1-3{width:33.33%}

button {font-family:'PT Sans Narrow', Arial, sans-serif;}
button.im{padding:0; border:0; line-height:0; border:1px solid #000;}
button.im img{padding:0;}
/*=============*/
h1 {font-size:1.3em; margin-top:5px;}
h1.componentheading {font-size:1.6em; background:#369; float:left; width:100%; padding:4px; margin:0;}	
h1.componentheading a {text-decoration:none; color:#fff;}
h1 a.org {background:#69b; color:#fff; text-align:center;float:left; width:100%; padding:4px; margin:4px 0;text-decoration:none;}
div.contentpaneopen h1 a {background:#69b; color:#fff; text-align:center;float:left; width:100%; padding:4px; margin:4px 0;text-decoration:none;}
/*.out:after {content:"\00BB"; }*/
.out:before {content:"\00BB"; }
/*
\2018 - Left Single Smart Quote
\2019 - Right Single Smart Quote
\00A9 - Copyright
\2713 - Checkmark
\2192 - Right arrow
\2190 - Left arrow
*/
h2 {font-size:1.2em;}
h3 {font-size:1.1em;}
h4 {font-size:1.0em;}
h5 {font-size:1.0em;}
h3.opis{display:none;}

.btn {min-width:90px; font-size:15px; margin-bottom:4px;}
.menu {float:left; }

.menu a {cursor:pointer; border:1px solid #000; background:#369; color:#fff; text-decoration:none; margin:2px 6px; min-width:90px; text-align:center; font-size:16px; line-height:22px; height:27px; font-weight:bold;}

h1.componentheading:hover, .menu a:hover {background:#47a;}
img {max-width:100%;max-height:300px; padding:5px;}
span.article_separator {height:4px;clear:both;float:left; width:100%;}
.wrapper {
background:#fff; 
border:1px solid #ccc; 
padding:4px;
min-height: 52px;
}

.article-content{padding:3px 6px;}
.doclink img {width:auto !important; float:left;}
.article-tools {font-size:89%; margin-left:5px;}

.content {border:1px solid white;}
.day2 {background:#fdfdfd;}
.day3 {background:#fbfbfb;}
.day4 {background:#f8f8f8;}
.day7 {background:#f0f0f0;}
/*@media (max-width: 979px) {
.menu a {padding:4px; margin:4px; min-width:6em;}
#tydzien {margin-left:20px;}


}*/

@media handheld, only screen and (max-width: 767px) {
.grid{width:100%;min-width:0;margin-left:0;margin-right:0;padding-left:0;padding-right:0}
[class*=col-]{width:auto;float:none;padding-left:10px;padding-right:10px;margin:5px 0}
.grid-pad > [class*="col-"]:last-of-type {padding-right: 10px;}
}
